/* Site wide font */
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;

  background-color: rgb(65, 119, 255);
  color: white;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

h1 {
  text-align: center;
}

span {
  color: white;
}

.nav-link {
  color: white;
}

.collapseable_margin {
  margin-bottom: 10px;
  border-radius: 10px;
}

.collapse_button {
  border-radius: 10px;
}

.collapse_heading {
  border-radius: 10px;
}

.black_ink {
  color: black;
}

.accordion-item:first-of-type {
  border-radius: 10px;
}

.accordion-item:last-of-type {
  border-radius: 10px;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.accordion-item:last-of-type .accordion-collapse {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
